/* 초기화태그 */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: inherit;
}
body{
  overflow-x: hidden;
}

/* 헤더 */

header {
  z-index: 10;
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  box-shadow: 3px 0 3px black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
}

.dropdown {
  display: flex;
  position: relative;
}

.dropdown a {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  width: 100px;
  height: 50px;
  font-weight: bold;
  background-color: white;
  &:hover {
    background-color: #ffc400;
  }
}

.drop {
  height: 0;
  position: absolute;
  overflow: hidden;
  transition: 0.3s;
}

.dropdown:hover .drop {
  height: 100px;
}

.hdabox {
  display: flex;
  & > a {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    width: 100px;
    height: 50px;
    font-weight: bold;
    &:hover {
      background-color: #ffc400;
    }
  }
}

/* 메인 */

main{
  width: 100vw;
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 100px;
}

.main-title{
  border-left: 20px solid #ffc400;
  padding: 0 5px;
  font-size: 60px;
  font-weight: bold;
}

/* 상품 */
.mp-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.product{
  width: 300px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 3px black;
}

.pro-img{
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.pro-img img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.pro-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.pro-name{
  font-weight: bold;
  font-size: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.pro-des{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.pro-realPrice{
  font-weight: bold;
}

.main-product{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.mp-title{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 50px;
  padding: 10px 20px;
  box-shadow: 0 0 3px black;
  border-radius: 10px;
}

.nowPrice {
  color: rgb(124, 124, 124);
  font-weight: bold;
  text-decoration: line-through;
}

.disPrice{
  color: red;
  font-weight: bold;
}

.btn-wrap{
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
}
.btn-wrap button{
  padding: 10px 0px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc400;
  box-shadow: 0 0 3px #000000;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}
.pro-wrap{
  display: flex;
  justify-content: space-between;
}
/* 푸터 */

footer{
  padding: 30px;
  width: 100vw;
  min-height: 300px;
  display: flex;
  box-shadow: 0 0 10px black;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  background-color: #ffe695;
}
footer img{
  filter: grayscale(1);
}
.ft-wrap{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ft-wrap > div {
  display: flex;
  gap: 30px;
}

.ft-top{
  align-items: center;
  justify-content: space-between;
}
.ft-bottom{
  align-items: center;
  justify-content: space-between;
}
.ft-4{
  display: flex;
  gap: 10px;
  padding: 10px;
  border: 1px solid black;
  border-style: dashed;
  user-select: none;
  &>p:hover{
    transition: .3s;
    cursor: pointer;
    font-weight: bold;
  }
}

.ft-fa{
  display: flex;
  gap: 30px;
  padding: 10px;
  box-shadow: 0 0 5px black;
  border-radius: 10px;
}
footer .fa:nth-child(1):hover{
  color: red;
}
footer .fa:nth-child(2):hover{
  color: rgb(230, 0, 230);
}
footer .fa:nth-child(3):hover{
  color: rgb(172, 0, 172);
}
footer .fa:nth-child(4):hover{
  color: rgb(0, 195, 255);
}
footer .fa:nth-child(5):hover{
  color: blue;
}

/* 모달 */
.upPop,
.inPop {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.486);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.upPop > form,
.inPop > form {
  z-index: 9999;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  gap: 20px;
  & > input {
    padding: 10px 20px;
  }
}

.textLogin {
  z-index: 9998;
  position: fixed;
  text-align: center;
  width: 100vw;
  height: 100vh;
  justify-self: center;
  align-self: center;
  user-select: none;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.192);
  font-size: 400px;
}

.popBtn {
  display: flex;
  justify-content: space-between;
  & > button,
  div {
    padding: 5px 10px;
    width: 80px;
    border: 1px solid black;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
  }
}

.signClose {
  background-color: rgb(255, 88, 88);
}