/* 초기화태그 */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: inherit;
}



/* 헤더 */

header {
  padding: 0 calc((100% - 1400px) / 2);
  flex-wrap: wrap;
  z-index: 10;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100px;
  box-shadow: 3px 0 3px black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.dropdown {
  display: flex;
  position: relative;
  background-color: white;
}

.dropdown a {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  min-width: 90px;
  height: 50px;
  position: relative;
  &:hover::after {
    width: 100%;
  }
}

.dropdown>ul:hover>a::after{
  width: 100%;
}

.dropdown a::after{
  content: "";
  position: absolute;
  bottom: 0;left: 50%;transform: translateX(-50%);
  width: 0;height: 3px;transition: .3s;background-color: #ffc400;
}

.dropdown>ul>a{
  font-weight: 500;
  font-size: 18px;
}
.drop {
  background-color: white;
  height: 0;
  position: absolute;
  overflow: hidden;
  transition: 0.3s;
}
.drop a{
  font-size: 14px;
}

.dropdown:hover .drop {
  height: 100px;
}

.hdabox {
  display: flex;
    background-color: white;

  & > a {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    width: 90px;
    height: 50px;
    font-weight: bold;
    color: #818181;
    &:hover {
      color: #333;
      transform: scale(1.1);
    }
  }
}

/* 메인 */


main{
  padding-top: 100px;
  justify-self: center;
  max-width: 1400px;
  width: 100%;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 100px;
}

.main-title{
  cursor: pointer;
  border-left: 10px solid #ffc400;
  padding: 0 5px;
  font-size: 40px;
  font-weight: bold;
}

/* 상품 */
.main-product{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.mp-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.product{
  width: 250px;
  min-height: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 3px black;
}

.pro-img{
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.pro-img img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: .3s;
  &:hover{
    transform: scale(1.2);
  }
}

.pro-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.pro-name{
  font-weight: bold;
  font-size: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.pro-des{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.pro-realPrice{
  font-weight: bold;
}



.mp-title{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  position: relative;
  cursor: pointer;

  &:hover::after{
    width: 120%;
  }
}
.mp-title::after{
  content: "";
  height: 3px;
  width: 0;
  position: absolute;
  bottom: 0;left: 50%;transform: translateX(-50%);
  background-color: #ffc400;
  transition: .3s;
}



.nowPrice {
  color: rgb(124, 124, 124);
  font-weight: bold;
  text-decoration: line-through;
}

.disPrice{
  color: red;
  font-weight: bold;
}

.btn-wrap{
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
}
.btn-wrap button{
  padding: 10px 0px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc400;
  box-shadow: 0 0 3px #000000;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}
.pro-wrap{
  display: flex;
  justify-content: space-between;
}
/* 푸터 */

footer{
  padding: 30px;
  justify-self: center;
  max-width: 1400px;
  width: 100%;
  height: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-bottom: 50px;
  box-shadow: 0 0 50px #ccc;
  font-weight: bold;
  text-align: justify;
}
footer a:first-child{
  min-width: 100px;min-height: 100px;
}
footer img{
  filter: grayscale(1);
}


footer > div {
  display: flex;
  gap: 30px;
}

[class*='ft-'] {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ft-4{
  display: flex;
  gap: 10px;
  padding: 10px;
  flex-wrap: wrap;
  width: fit-content;
  user-select: none;
  &>p:hover{
    transition: .3s;
    cursor: pointer;
    font-weight: bold;
  }
}
.ft-5{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.ft-fa{
  display: flex;
  gap: 30px;
  padding: 10px;
  cursor: pointer;
  width: fit-content;
}

footer .fa{
  display: flex;justify-content: center;align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.616);
  width: 50px;height: 50px;
}

footer .fa:nth-child(1):hover{
  color: red;
}
footer .fa:nth-child(2):hover{
  color: rgb(230, 0, 230);
}
footer .fa:nth-child(3):hover{
  color: rgb(172, 0, 172);
}
footer .fa:nth-child(4):hover{
  color: rgb(0, 195, 255);
}
footer .fa:nth-child(5):hover{
  color: blue;
}

/* 모달 */
.upPop,
.inPop {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.486);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.upPop > form,
.inPop > form {
  z-index: 9999;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  gap: 20px;
  & > input {
    padding: 10px 20px;
  }
}

.textLogin {
  z-index: 9998;
  position: fixed;
  text-align: center;
  width: 100%;
  height: 100vh;
  justify-self: center;
  align-self: center;
  user-select: none;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.192);
  font-size: 400px;
}

.popBtn {
  display: flex;
  justify-content: space-between;
  & > button,
  div {
    padding: 5px 10px;
    width: 80px;
    border: 1px solid black;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
  }
}

.signClose {
  background-color: rgb(255, 88, 88);
}

@media (max-width: 480px) {
  header{
    flex-direction: column;gap: 10px;
    padding: 0;
  }
  .slider{
    height: 600px;
  }
  .slide h1{
    font-size: 50px;
  }
  .slide p{
    font-size: 20px;
  }
  .main-product{
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  table{
    width: 400px;
  }
  .product{
    width: 180px;
    height: 280px;
  }
  .banner{
    display: flex;justify-content: center;
  }
  main{
    align-items: center;
    margin-bottom: 0;
  }
  .koreano1{
    width: 400px;
    font-size: 1rem;
  }
  footer{
    flex-direction: column;
  }
  [class*='info-']{
    width: 100vw;
    flex-wrap: wrap;
    gap: 40px;
  }
  .info-3{
    margin-bottom: 20px;
  }
  .infocon{
    width: 200px;height: 200px;font-size: 12px;
  }
  .infofa{
    display: none !important;
  }
}
