/* 비디오 */
.video-container {
  width: 1500px;
  height: 800px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px black;
  align-self: center;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.control-container {
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: rgba(0, 0, 0, 0.384);
  border-radius: 10px;
  padding: 10px;
}
.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
[class*="ctrl"] {
  font-weight: bold;
  background-color: white;
  padding: 5px 10px;
  cursor: pointer;
  user-select: none;
  border-radius: 10px;
  overflow: hidden;
}

/* 드래그 앤 드롭 */

.orderBtn {
  text-align: center;
  font-weight: bold;
  background-color: #ffd400;
  color: white;
  font-size: 60px;
  padding: 10px 20px;
  cursor: pointer;
  user-select: none;
  width: fit-content;
  border-radius: 20px;
  overflow: hidden;
  align-self: center;
}

dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.507);
  justify-content: center;
  align-items: center;
}

.popWrap {
  width: 1200px;
  height: 700px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}

.popHeader {
  display: flex;
  justify-content: space-around;
  height: 100px;
  align-items: center;
  border-bottom: 1px solid black;
}
.userId {
  font-weight: bold;
  font-size: 20px;
}
.popClose {
  padding: 10px 20px;
  border-radius: 10px;
  overflow: hidden;
  background-color: red;
  color: white;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.popMain {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popCategory {
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.popCategory > div {
  width: 150px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  background-color: black;
  color: white;
  cursor: pointer;
  user-select: none;
  font-weight: bold;
  &.active {
    background-color: #ffae00;
  }
}

.cartCon, .dragCart  {
  overflow-y: scroll;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fffae0;
  gap: 20px;
  padding: 20px;
}

.popFooter {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buyAlert {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 100;
  min-width: 600px;
  height: 100px;
  background-color: rgb(68, 68, 68);
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 24px;
  display: none;
}

.popBuyBtn {
  padding: 10px 20px;
  overflow: hidden;
  border-radius: 10px;
  background-color: rgb(68, 68, 68);
  font-weight: bold;
  color: white;
  cursor: pointer;
  user-select: none;
}

.item{
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px black;
  flex-shrink: 0;
  background-color: white;
}
