/* 장바구니 */

.main-cart{
  width: 1400px;
  width: fit-content;
  display: flex;
  align-self: center;
  box-shadow: 0 0 5px black;
  border-radius: 10px;
  overflow: hidden;
}
.drop-items{
  flex-wrap: wrap;
  width: 900px;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  padding-bottom: 30px;
}
.dropCart{
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.calcCart{
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  &>button{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 40px;
  }
}
